.barrasup {
    background-color: #202020;
    height: 400px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    top: 10px;
    left: 10px;
    position: absolute;
    height: 80%;
}

.barra {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.home {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: aliceblue;
}

.connectwallet {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: aliceblue;
    background-color: #777777ec;
    border-radius: 2px;
    border-style: hidden;
}

.definicion {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 1200px;
    transform: translateY(-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: aliceblue;
}

.fondoo {
    background-image: url("https://st4.depositphotos.com/8278896/38903/v/1600/depositphotos_389030324-stock-illustration-big-data-vector-abstract-futuristic.jpg");
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.text1 {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    z-index: 9;
    font-size: 60px;
    left: 15%;
    top: 5%;
}

h4 {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    z-index: 9;
    width: 800px;
    font-size: 30px;
    left: 15%;
    top: 15%;
}

.botonmarket {
    position: absolute;
    top: 32%;
    left: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: aliceblue;
    background-color: #777777ec;
    border-radius: 2px;
    border-style: hidden;
}