.cabeza {
    height: 75px;
}

.connect-wallet {
    position: absolute;
    top: 19px;
    right: 12px;
}
.contenedor {
    position: absolute;
    top: 40%;
    left: 12%;
}

.text {
    width: 700px;
    height: auto;
}

h1 {
    width: 100%;
    color: rgb(0, 0, 0);
}